:root {
  --dark: #131313;
  --light: #e4e4e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--dark);
  color: var(--light);
  transition-duration: 500ms;
  cursor: url("../images/knife.png") 5 15, auto;
}

::selection{
  background-color: #7e0000;
}
/* utils */
a {
  text-decoration: none;
  color: var(--light);
}

li {
  list-style-type: none;
}

.btn {
  border: none;
  padding: 15px;
  background-color: var(--light);
  color: var(--dark);
  cursor: pointer;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
  position: relative;
  overflow: visible;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.section-headings {
  font-size: 30px;
  padding: 20px 0;
  margin: 50px 0 20px 0;
}

/* audio */
.audio {
  position: relative;
}

audio {
  position: absolute;
  display: none;
}

.play:active {
  transform: scale(0.95);
}

.play {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
  cursor: pointer;
  font-size: 1.5em;
  color: #131313;
  font-weight: 900;
  padding: 10px;
  background-color: #cacaca69;
}


/* hero image */
.hero-image-container {
  min-width: 100%;
}

.hero-img {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../images/Quentin-Tarantino.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.blood-splash {
  display: none;
  width: 100%;
  height: 100%;
  background-image: url("../images/splash.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 2;
}

.tarantino:hover + .blood-splash {
  display: block;
}

h1 {
  display: inline-block;
  letter-spacing: 8px;
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  background-color: #1d1d1d73;
  padding: 5px 40px;
  z-index: 3;
}

h1:hover {
  transition: all 200ms ease;
  background-color: #c4000028;
}

/* about */
.occupation {
  margin-top: 40px;
}

.occupation .flex {
  row-gap: 15px;
  column-gap: 10px;
}

.occupation li {
  border-left: 2px solid var(--light);
  padding: 5px 7px;
}

.bio {
  margin-top: 60px;
}

.ext-link {
  text-align: right;
  position: relative;
  padding: 15px;
}

.bio a {
  display: inline-block;
  background-color: #181818;
  padding: 10px 15px;
  position: relative;
  right: 20px;
  top: 0;
  transition: all 300ms ease-in-out;
}

.bio a:hover {
  background-color: transparent;
  letter-spacing: 2px;
  transition: 1s;
  color: #a10000;
}

/* quotes */
#quotes p {
  padding: 10px 0;
}

/* movies */
#movies {
  margin-top: 40px;
}

.images.flex {
  row-gap: 20px;
}

.images a {
  display: inline-block;
  text-align: center;
  position: relative;
}

.images a p:hover {
  color: #a10000;
}

.images a::after {
  content: "";
  background-image: url("../images/splash3.png");
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

.images a:hover::after {
  display: none;
}

img {
  filter: grayscale(1);
  position: relative;
}

img:hover {
  filter: grayscale(0);
  transition: all 300ms ease;
}

/* TOP button */
button.btn {
  background-color: transparent;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 30px;
  background-image: url("../images/revolver.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: scaleX(-1);
  z-index: 10;
}
button.btn:hover {
  transform: scale(-1.1, 1.1);
  transition: transform 400ms ease;
}
button.btn:active {
  transform: scale(-0.95, 0.95);
  transition: transform 400ms ease;
}

/* footer */
footer.container {
  font-size: 12px;
  padding: 40px 0;
}
footer p {
  padding: 0 0 10px 0;
  border-bottom: 2px solid #3b3b3b;
  width: max-content;
  margin: 0 auto;
}

/* media queries */
@media screen and (max-width: 900px) {
  button.btn {
    bottom: 15px;
    right: 10px;
    padding: 10px;
  }
}
@media screen and (max-width: 364px) {
  h1 {
    padding: 5px;
    font-size: 30px;
  }
}
